body
{
    margin: 0;
    padding: 0;
}
.navbar
{
    background-color: transparent;
}
.logo
{
    margin-left: 40px;
    margin-top: 20px;
}
.nav-link
{
    font-size: 18px;
    font-family: 'Raleway', serif; 
    margin-left: 200px;
    color: black;
}

.nav-link:hover
{
    color: coral;
}

.heading
{
    font-size: 80px;
    font-family: 'Frank Ruhl Libre', serif; 
    padding-top: 60px;
    height: 250px;
    width: 100%;
    text-align: center;
}

.text
{
    font-size: 60px;
}
.text1
{
   font-size: 25px; 
}

@media only screen and (max-width: 550px)
{
    .nav-link
    {
        display: block;
        margin-left: 10px;
        margin-left: 20px;
    }
    .logo
    {
        display: none;
    }
    .logos
    {
        height: 100px;
        width: 100px;
        margin-top: 40px;
    }
    .heading
    {
        font-size: 50px;
    }

        
}


.play
{
      margin: 20px;
      margin-top: 20px;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3,3fr);
    
    
}
@media only screen and (max-width: 550px)
{
.play
     {
      margin: 20px;
      margin-top: 20px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(1,5fr);
     }
    
    
}
.image>img
{
    
    width: 100%;
    border-radius: 20px;
    
}
.image:hover{
    transition: all .7s ease-in-out;
    transform: scale(1.1);
}
.contactus
{
    overflow: hidden;
    text-align: center;
    background-color: coral;
    font-size: 20px;
}
.about
{
    font-size: 50px;
    padding-top: 15px;
}
.icons
{
    margin-bottom: 40px;
    margin-left: 190px;
    padding: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    
}
.icons a
{
    display: inline-block;
    width: 150px;
    height: 150px;
    overflow:hidden;
    border-radius: 50%;
}
.icons a:hover
{
    transition: all .7s ease-in-out;
    transform: scale(1.1);
}
.icons a img
{
    width: 100%;
}


.testimonials{ 
  overflow-y: scroll;
  padding: 40px 0;
  width: 100%; 
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}


@media only screen and (max-width: 550px)
{
  .inner{
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  padding: 0 90px;
}  
}
.border{
  width: 250px;
  height: 5px;
  background-color: coral;
  margin: 16px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: left;
  padding: 30px;
    
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonial:hover{
transition: all .7s ease-in-out;
    transform: scale(1.3);
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.about
{
    font-family: 'Frank Ruhl Libre', serif;
}
